.expand-btn {
  display: flex;
  gap: 8px;
  font-family: TT Lakes Regular;
  font-style: normal;
  line-height: 24px;
  color: #1b1c21;
  border: none;
  width: 9rem;
  height: 24px;
  font-size: 16px;
  background: none;
}

.hide {
  display: none !important;
}
